*{
  font-family: sans-serif
}

header{
  background-color: gray;
  top: 0;
  
}


body{
  margin: 0;
}

h1{
  color:white;
  display: flex;
  justify-content: center;
  
}

menu{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;

}

.nav-button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin: 0px 15px;

}

button {
  background-color: darkgrey;
  padding: 10px 40px;
}


main{
  background-image: url("https://t4.ftcdn.net/jpg/02/08/77/37/240_F_208773750_fOnOoBOYJUBQ73gseJO8khowC9Pr7dyd.jpg");
  background-size: cover;

  min-height: 800px;
  
}

p{
  display: flex;
  justify-content: center;

}


form{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 15px;
}
/*how do I make the content in form centered to the page*/

.login{
  display: flex;
  flex-direction: row;
}

footer{
  background-color: grey;
  color:white;
}

a{
  color:white;
  text-decoration: none; /*this removes the underlines in the links*/
  
}
/*
1. How do I make the content in form centered to the page
2. How do I get the stuff to fil the page instead of the html file color being seen.
3. How do I make the page grow/ shrink with the screen size
*/