*{
  font-family: sans-serif
  

}

header{
  background-color: gray;
  margin-top: 0;
  padding:0;
  margin-bottom:0;

  
}


body{
  margin: 0;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
}

h1{
  color:white;
  display: flex;
  justify-content: center;
  padding:0;
  margin:0;
  
}

menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:0;
  width: 100%;
  flex-wrap: wrap;

}

nav{
  margin:0;
  padding:0;
  display: flex;
}

.nav-button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin: 0px 15px;
  flex-grow: 1;

}

button {
  background-color: darkgrey;
  padding: 10px 40px;
  display: flex;
}


main{
  background-image: url("https://t4.ftcdn.net/jpg/02/08/77/37/240_F_208773750_fOnOoBOYJUBQ73gseJO8khowC9Pr7dyd.jpg");
  background-size: cover;


  height: 100vh; /*vh makes the full height of the main*/
  margin: 0;
  padding:0;

  

  
}



p{
  display: flex;
  justify-content: center;
  margin: 0;
  padding:0;

}


form{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 15px;
}


.login{
  display: flex;
  flex-direction: row;
}

footer{
  background-color: grey;
  color:white;
}

a{
  color:white;
  text-decoration: none; /*this removes the underlines in the links*/
  
}

/*
1. How do I make the content in form centered to the page
2. How do I get the stuff to fil the page instead of the html file color being seen.
3. How do I make the page grow/ shrink with the screen size
*/

